*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.button-reset{
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin: 5px 10px;
}

.link-reset{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.button-blue{
    background-color: rgb(69, 164, 242);
    color: white;
    padding: 5px 10px 5px 10px;
}

.button-white{
    background-color: white;
    padding: 15px 10px 15px 10px;
    color: black;
    border: 1px solid black;
}

.margin-top-bottom-20{
    margin: 20px 0px 20px 0px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-right-3em{
    margin-right: 3em;
}
.margin-right-05em{
    margin-right: 0.5em;
}

.text-center{
    text-align: center;
}

.font-size{
    font-size: 0.7em;
}

.padding-right-1em{
    padding-right: 1em;
}
/* Icone */

.fa-arrow-down{
    font-size: 2.5em;
}

/* Header */

.row-header{
    height: 4em;
    width: 100%;

}

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-30{
    width: 30%;
}

.flex-header{
    align-items: center;
    justify-content: space-around;
}

/* Main */

/* Prima jumbo */

.section-jumbo{
   
    width: 100%;
    background-color: rgb(163, 200, 231);
    margin-bottom: 10em;
}

.title-col{
    width: 60em;
    margin: 0 auto;
}

.big-title{
    margin-top: 0.5em;
    font-weight: bolder;
    font-size: 3em;
}

.first-jumbo-row{
    justify-content: center;
}

.p-col-12em{
    width: 12em;
}

.img-col{
    width: 48em;
    position: relative;
}

.jumbo{
    position: absolute;
    left: 0;
    top:0;
    width: 46em;
}

/* Sezione business e offerte*/

.business-col{
    width: 55em;
    margin: 50px auto 0px auto;
}

.promotion-row{
    justify-content: space-between;
}

.promotion-col{
    border: 1px solid black;
    padding: 0.7em;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.business-offer-row{
    width: 55em;
    margin: 0px auto;
}

.margin-1em{
    margin: 1em;
}

.offer-col{
    width: 30%;
    border: 1px solid black;
    justify-content:space-around;
}

.margin-right-10em{
    margin-right: 10em;
}

.title-promotion{
    font-size: 2em;
    font-weight: bolder;
}
.blue-check{
    color: rgb(64, 64, 239);
}

.padding-top-2em{
    padding-top: 1em;
}

.padding-top-2em div,h4{
    padding-top: 2em;
    font-size: 0.8em;
}
.margin-top-2em{
    margin-top: 2em;
}

/* Sezione team */

.private-col{
    border: 1px solid black;
    width: 55em;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-content{
    justify-content: space-around;
}

.enterprise-width{
    width: 38em;
}
.enterprise-width *{
    padding-top: 1em;
}

/*  */


.partner-row{
    border:1px solid black;
    width: 55em;
}

.img-text-col{
    width: 45em; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em 0em;
    padding-left: 2em;
}

.partner-img{
   width: 100%;
}
