*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.button-reset{
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin: 5px 10px;
}

.link-reset{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.button-blue{
    background-color: rgb(69, 164, 242);
    color: white;
    padding: 5px 10px 5px 10px;
}

.margin-top-bottom-20{
    margin: 20px 0px 20px 0px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-right{
    margin-right: 3em;
}

.text-center{
    text-align: center;
}

.font-size{
    font-size: 0.7em;
}

.padding-right-1em{
    padding-right: 1em;
}
/* Icone */

.fa-arrow-down{
    font-size: 2.5em;
}

/* Header */

.row-header{
    height: 4em;
    width: 100%;

}

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-30{
    width: 30%;
}

.flex-header{
    align-items: center;
    justify-content: space-around;
}

/* Main */

/* Prima jumbo */

.section-jumbo{
    height: 34em;
    width: 100%;
    background-color: rgb(163, 200, 231);
    margin-bottom: 10em;
}

.title-col{
    border: 1px solid black;
    width: 60em;
    margin: 0 auto;
}

.big-title{
    margin-top: 0.5em;
    font-weight: bolder;
    font-size: 3em;
}

.first-jumbo-row{
    justify-content: center;
}

.p-col-12em{
    width: 12em;
    border: 1px solid black;
}

.img-col{
    width: 48em;
    border: 1px solid black;
    position: relative;
}

.jumbo{
    position: absolute;
    left: 0;
    top:0;
    width: 46em;
}

/* Sezione business */
.section{
    height: 500px;
    background-color: aquamarine;
}

.business-col{
    border: 1px solid black;
    width: 55em;
    margin: 50px auto 0px auto;
}


.promotion-row{
    justify-content: space-between;
}

.promotion-col{
    border:1px solid black;
    height: 3em;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.business-offer-row{
    border: 1px solid black;
    width: 55em;
    margin: 0px auto;
    height: 9em;
}

.margin-1em{
    margin: 1em;
}

.offer-col{
    width: 30%;
    border: 1px solid black;
    height: 9em;
    justify-content:space-around;
}