*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-family: 'Open Sans', sans-serif;
    
}

/* Colore testo */

.color-white{
    color: white;
}

.color-darkred{
    color: darkred;
}

/* flex */

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-list{
    display: flex;
    flex-direction: row;
}
/* toglie la personalizzazione di default */

.link-reset{
    text-decoration: none;
    color: white;
}

.link-reset-black{
    text-decoration: none;
    color: black;
}

.list-decoration-none{
    list-style-type: none;
}
/* Bottoni */

.button-reset{
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin: 5px 0px;
}

.button-blue{
    background-color: rgb(37, 118, 184);
    color: white;
    padding: 5px 10px 5px 10px;
}

.button-white{
    background-color: white;
    padding: 15px 10px 15px 10px;
    color: black;
    border: 1px solid rgba(191, 191, 191, 0.807);
}

.border-top-black{
    border: 1px solid black;
    padding: 1em;
    border-radius: 1em;
}

.border-radius-1em{
    border-radius: 1em;
}
/* Margin e Padding */

.margin-top-2em{
    margin-top: 2em;
}

.margin-right-10em{
    margin-right: 10em;
}

.margin-top-bottom-20{
    margin: 20px 0px 20px 0px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-top-05em{
    margin-top: 1em;
}

.margin-1em{
    margin: 1em;
}

.margin-15em{
    margin: 1.5em;
}

.margin-right-3em{
    margin-right: 3em;
}
.margin-right-05em, .fa-solid{
    margin-right: 0.5em;
}

.margin-left-20em{
    margin-left: 20em;
}

.padding-bottom{
    padding-bottom: 2em;
}

.padding-right-1em{
    padding-right: 1em;
}

.padding-right{
    padding-right: 2em;
}

.padding-left{
    padding-left: 0.8em;
}

.padding-left-22{
    padding-left: 22em;
}

.padding-top-2em{
    padding-top: 2em;
}

.padding-top-2em{
    padding-top: 2em;
}

.padding-top-1em{
    padding-top: 1em;
}

.padding-vertical-2em{
    padding: 2em 0em;
}

.pv-1em-br{
    padding: 1em 0.6em;
    border-radius: 0.7em;
}
/* Icone */

.fa-arrow-down{
    font-size: 2.5em;
}

/* Font */

.text-center{
    text-align: center;
}

.font-size-07{
    font-size: 0.7em;
}

.font-size-09{
    font-size: 0.9em;
}

.font-size-4em{
    font-size: 4em;
} 

.font-size-title{
    font-size: 1.5em;
}
/* Header */

.row-header{
    height: 4em;
    width: 100%;
}

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-header{
    align-items: center;
    justify-content: space-around;
}

/* Main */

/*Prima sezione Jumbo*/

.section-jumbo{
   
    width: 100%;
    background-color: rgb(163, 200, 231);
    margin-bottom: 10em;
}

.title-col{
    width: 60em;
    margin: 0 auto;
}

.font-weight-900{
    font-weight: 900;
}

.big-title{
    padding-top: 1em;
    margin-top: 0.2em;
    font-weight: bolder;
    font-size: 3em;
}

.first-jumbo-row{
    justify-content: center;
}

.p-col-16em{
    width: 16em;
}

.img-col{
    width: 44em;
    position: relative;
}

.jumbo{
    position: absolute;
    left: 0;
    top:0;
    width: 50em;
}

/* Sezione offerte*/

.business-col{
    width: 55em;
    margin: 50px auto 0px auto;
}

.promotion-row{
    justify-content: space-between;
}

.promotion-col{
    border: 1px solid rgba(191, 191, 191, 0.807);
    padding: 0.7em;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.business-offer-row{
    width: 55em;
    margin: 0px auto;
}


.offer-col{
    max-width: 30%;
    border: 1px solid rgba(191, 191, 191, 0.807);
    justify-content:space-around;
}

.title-promotion{
    font-size: 2em;
    font-weight: bolder;
}

.blue-check{
    padding-top: 0.3em;
    color: rgb(64, 64, 239);

}

.padding-top-1em div,h4{
    padding-top: 1.2em;
    font-size: 0.9em;
}

/* Radio button */

input {
    appearance: none;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    border: 2px solid #999;
    transition: 0.2s ease;
    margin-right: 5px;
    position: relative;
    top: 4px;
  }
  
  input:checked {
    border: 0.40em solid rgb(11, 28, 255);
  }

/* Sezione piani tariffari */

.private-col{
    border: 1px solid rgba(191, 191, 191, 0.807);
    width: 55em;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-content{
    justify-content: space-around;
}

.enterprise-width{
    width: 38em;
    padding-bottom: 2em;
}

.enterprise-width *{
    padding-top: 1em;
}

/* Sezione partner dropbox */


.partner-row{
    width: 55em;
}

.img-text-col{
    width: 45em; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em 0em;
    padding-left: 2em;
}

.partner-img{
   width: 100%;
}



.operation-container{
    justify-content: center;
}

.operation-row{
    width: 55em;
    margin-bottom: 5em;
}

.col-33{
    width: calc(100% / 3);
}

.partner-img{
    width: 100%;
 }

 .description-img{
    text-align:left;
    width:90%;
 }
 
 .description-img p{
    padding-top: 1em;
 }
 
 .font-size-big{
    font-size: 1.5em;
 }

 
 /* Sezione Loghi */


 .logos-row{
    width: 100%;
 }

 .logos-col{
    height: 14em;
    position: relative;
 }

 .logo-central-col{
    height: 28em;
 }

 .logo-central{
    width: 14em;
 }

 .logos-col{
    width: calc(100% / 2);
 }

.logos-col img{
    width: 7em;
}

.logo-central-col{
    width: calc(100% / 2);
    padding: 2.5em;
}

.logo-filter-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.green-background-border{
    background-color: rgb(39, 201, 39);
    border: 0.5em solid rgb(141, 222, 19);
}

.darkerred-background{
    background-color: rgb(120, 6, 6);
}

.lightblue-background{
    background-color: rgb(75, 75, 216);
}

.red-background{
    background-color: red;
}

.central-background-color{
    background-color: rgba(243, 236, 228, 0.857);
}

.darkred-background{
    background-color: rgb(182, 23, 23);
}

.azul-background{
   background-color: rgb(163, 200, 231);
}

.blue-background{
    background-color: blue;
}

.yellow-background{
    background-color: rgb(223, 223, 21);
}

/* dropbox business section */

.dropboxbusiness-container{
    padding: 5em 0em;
    width: 100%;
    background-color: rgb(163, 200, 231);
    justify-content: center;

}

.dropboxbusiness-row{
    width: 70%;
}

.dropboxbusiness-col{
    justify-content: space-around;
    align-items: center;
    
}

.second-button-white{
    background-color: white;
    padding: 1em 4em 1em 4em;
    color: black;
}

.dropboxbusiness-col-title{
    max-width: 18em;
}

/* Sezione domande */

.question-row{
    margin: 8em;
}



 /* Footer */

 .footer-container{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: flex-start;
    padding-top: 3em;
}


.h3-footer{
    padding-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255);
}

.footer-col{
    width: calc(55em / 5);
}

footer li{
    padding-bottom: 1em;
}

.unordered-list-footer{
    list-style-type: none;
    padding-left: 7px;
    color: white;
    height: 100%;
}

.bottom-container{
    display: flex;
    width: 55em;
    margin-bottom: 2em;
}

.border-top-color-gray{
    border-top: 2px solid;
    color:  rgb(144, 144, 144);
}

.border-bottom-color-gray{
    border-bottom: 2px solid;
    color:  rgba(142, 142, 142, 0.807);
}

.language{
    border-top: 2px solid;
    color:  rgba(191, 191, 191, 0.807); 
}

.border-bottom{
    margin-right: 22em;
    border-bottom: 2px solid;
    color:  rgba(191, 191, 191, 0.807);
}



/* prova bonus */
.margin-0-8em{
    margin: 0em 8em;
}

.panel{
    display: none;
}

.active .panel:hover{
    display: contents;
}


/* Bonus */

/* dropdown menu */
.dropdown{
    position: relative;
}

.dropdown-menu{ 
    min-width: 9em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: white;
    padding: 0.75em;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 4;
}

.dropdown a:hover{
    background-color: rgba(218, 218, 218, 0.638);
}

.dropdown > .link:focus + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
}   

/* Nel jumbo che si muove */

.fa-arrow-down {
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: translate(0px,-30px);}
    50% { transform: translate(0px,4px);}
    100% { transform: translate(0px,-30px);}
}

/* bonus faq */

.none {
    display: none;
}

div label {
    border-top: 2px solid #A7A7A7;
    display: block;    
    padding: 1em;
    cursor: pointer;
    color: black;
}

div label:hover {
    background: rgba(147, 149, 161, 0.924);
}

.content {
    padding: 2em;
    max-width: 55em;
}

.none + label + .content {
    display: none;
}

.none:hover + label + .content {
    display: block;
    
}